.work__experience {
  box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  margin: 0 0 0 1rem;
  border-radius:1.5rem;
  padding: 1rem 3rem;
  background-color:#fff;
}

.work__experience--logo{
  width: 180px;
  height: 60px;
  margin-top: 5rem;
}

.work__experience--Mascorp, .work__experience--Genpact {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.work__experience--details {
  padding: 1rem 3rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.work__experience ul li{
  line-height:1.5;
}

.work__experience--duration, .work__experience--Title, .work__experience--Company{
  margin-bottom:0.5rem;
}
@media (max-width:768px){
  .work__experience{
    margin: 1rem 0 0 0;
    justify-content:center;
    align-items:center;
    padding:2rem;
  }
  .work__experience--Mascorp, .work__experience--Genpact {
    flex-direction:column;
    margin-bottom: 1rem;
  }
  .work__experience--details {
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .work__experience--logo{
    margin:0;
    width:120px;
  }
  .work__experience--logoDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  }
  ul{
    list-style: none;
  }
  }