*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  background: #101010;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 99;
  border-radius:0.5rem;
 margin: 1rem 8rem;
 font-weight: 500;
}
.menu {
  display: none;
}
.fas {
  cursor: pointer;
}
.fab{
  font-size: 1rem;
}
.fa-home{
  font-size: 1.5rem !important;
}
.menu-icon {
  display: none;
  font-size: 20px;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.logo {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  width: 100%;
}

.about__socialicons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__socialicons a{
  padding: 0.5rem 0.5rem !important;
  margin:0 !important;
}
.about__socialicons a i{
  font-size: 1.25rem;
}
.fa-facebook-square:hover{
  color: #3b5998;
}

.fa-instagram:hover{
color:#bc2a8d
}

.fa-linkedin:hover{
color:#0077b5
}
.fa-github:hover{
color:#FD794F;
}
.menu-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 0.5rem 1rem;
  margin-left: 20px;

}

.menu-list li a:hover,
.menu-list li a.active {
  color: #57BE6C;
  transition: all 0.5s ease-in-out;
}

.fa-paper-plane{
  background: #57BE6C;
  padding: 0.6rem;
  border-radius:50%;
  font-size: 0.8rem;
}


.fa-download{
  background-color: #57BE6C;
  font-size: 1rem;
  margin-left: 0.25rem;
  padding: 0.5rem;
  border-radius:50%;
  color: #fff;
}

.nav__downloadCVBtn{
  background: #fff;
  border: none;
  padding:0.5REM 1REM;
  border-radius:1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 768px) {

  .menu{
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
  }
  .menu h5{
    width: 60px;
  }
  .logo{
    width: 30px;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    background:#fff;
    color: #101010;
  }
  .menu {
    display: block;
   margin:0 1rem;
  }
  .menu-icon {
    display: block;
  }
  .social-links{
    display:none;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: #101010c9;
    padding: 20px;
    right: 0;
    opacity:1;
    top: 74px;
    transition: all 1s ease-in-out;
    border-radius: 10px;
    
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100%;;
    display: block;
    margin: auto;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
    display: none;
  }

  .about__socialicons{
    padding: 0;
  }
}
