body {
  background: url('./background_web.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
}

.picture__img{
  width: 150px !important;
  height:400px  !important;
}

@media screen and (max-width:768px) {
  body {
    background: url('./background_mobile.png') no-repeat center center/cover;
    background-attachment: fixed;
  }
}